* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header nav#contacto { */
header {
    height: 250px;
    display: flex;
    border: 4px solid blue;
    flex-flow: row wrap;
}
header #contacto {
    height: 30%;
    width: 60%;
    background-color: rgba(0,0,0, .1);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
header #contacto a {
    font-size: 18px;
    text-decoration: none;
    border: 0px solid red;
    padding: 5px;
    color: red;
    margin-right: 30px;
}
header #contacto a:nth-child(1) {
    margin-left: 10px;
}
header #sociales {
    height: 30%;
    width: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
header #sociales a {
    color: black;
    font-size: 25px;

}
header figure {
    height: 100%;
    width: 15%;
    display: flex;
    flex-flow: column nowrap;
}
header figure img {
    height: 50%;
}
header figure h3 {
    color: blue;
}
header #principal {
    background-color: blue;
    width: 85%;
    order: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
header #principal a {
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
    border: 1 px solid orange;
}
header #principal a:hover {

}
header #principal a:nth-child(1) span {
    order: 1;
}
header #principal a:nth-child(1) i {
    order: 2;
}
header #principal a i {
    order: 1;
    font-size: 20px;
    color: green;
    padding-bottom: 5px;
    transition: all 1s;
}
header #principal a:hover i {
    color: black;
    transform: scale(1) translateY(30px);
    /*order: 2;*/
}
header #principal a span {
    order:2;
    font-size: 20px;
    font-family: Satisfy;
    color: white;
    transition: all 1s;
}
main section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-top: 10px;
}
main section article {
    width: 32%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
main section article figure {
    height:100px;
    width: 90%;
    display: flex;
    justify-content: center;
}
main section article figure img {
    height: 100px;
}
main section article h3{
    padding: 3px;
    width: 80%;
}
main section article .precio{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: Lobster;
}
}main section article .comentarios{
    padding: 3px;
    width: 20%;
}main section article.comparar{
    padding: 3px;

    width: 100%;
}