
header figure {
    flex: 1;
    order: 1;
    display: block;
}
header figure img {
    height: 90px;
}
header h1 {
   width: 70%;
   order: 2;
}
header nav {
    width: 100%;
    order: 3;
    justify-content: space-around;
}
header nav a{

}
header nav a i{
    display: block !important
}